{% extends "main-menu-base.html" %}

{% block content %}
<section id="content-section">
    <div id="greetings-container">
        <h1>Hello, {{ session['account_model'].first_name + " " + session['account_model'].last_name }}. </h1>
    </div>

    {% if tasks|length == 0 %}
        <h1>You don't have tasks</h1>
    {% else %}
        <h1 style="text-align: center"> Your tasks: </h1>
        <div id="current-user-tasks">
            {% for task in tasks %}
                <div class="task-container">
                    <div class="task-header">
                        <h2>№{{ task.id }}</h2>
                        <p>Status: {{ task.status }}</p>
                    </div>
                    {% if task.status == 'DONE' %}
                    <div>
                        <p>Completed date:{{ task.complete_date.strftime('%Y-%m-%d %H:%M')}}</p>
                    </div>
                    {% endif %}
                    <div class="task-data">
                        <p>About task: <br>{{ task.description }}</p>
                        <div>
                            {% if current_user.role == 'freelancer' %}
                                <p>Author: </p><a href="{{"/check-review/" + task.login }}">{{ task.login }}</a>
                            {% else %}
                                <p>Executor: </p><a href="{{"/check-review/" + task.login }}">{{ task.login }}</a>
                            {% endif %}
                            <p>Creation date: {{ task.creation_date.strftime('%Y-%m-%d %H:%M') }}</p>
                            <p>Deadline date: {{ task.deadline_date.strftime('%Y-%m-%d %H:%M') }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if current_user.role == 'client' %}
            <div id="complete-task-menu-container">
                <form action="" method="post" >
                    <div id="complete-menu-task-header">
                    </div>
                    <div>
                        <select id="task-select" name="task-select">
                            {% for task in tasks %}
                                {% if task.task_status_name != 'C' %}
                                    <option>{{ task.id }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input name="submit" type="submit" id="submit"/>
                    </div>
                </form>
            </div>
        {% endif %}
    {% endif %}
</section>
{% endblock %}