<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_menu_header.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_menu_footer.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/creation_task.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/review.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile_styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/create_editing_styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/check-task-editing.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/create_reviews_styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reviews.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/common_elements_styles.css') }}"/>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
</head>

{# подключение системы всплывающих сообщений #}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        <script>
            window.alert("{{ message }}");
        </script>
    {% endfor %}
  {% endif %}
{% endwith %}

<body>
    <div class="wrapper">
        <header>
            <div id="header-container">
                <div id="current-user">
                    {% if username in session %}
                        <p>{{ session['user_model'].first_name + " " + session['user_model'].last_name }}</p>
                    {% endif %}
                </div>
                <div id="box-nav-container">
                    <div id="nav-container">
                        <div class="vertical-divider"></div>
                        <ul>
                                <li><a href="{{ url_for('index') }}">Home</a></li>
                                <li><a href="{{ '/check-review/' + current_user['username'] }}">Reviews</a></li>
                            {% if current_user['role'] == 'freelancer' %}
                                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                                <li><a href="{{ url_for('check_task_editing') }}">Editing</a></li>
                            {% elif current_user['role'] == 'client' %}
                                <li><a href="{{ url_for('create_task') }}">Tasks</a></li>
                                <li><a href="{{ url_for('create_task_editing') }}">Editing</a></li>
                            {% endif %}
                                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        </ul>
                        <div class="vertical-divider"></div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <div>
            <p>
                Made by
                <a href="https://github.com/Dedmercy">Dedmercy</a> and <a href="https://github.com/Ewasince">Ewasince</a>
            </p>
        </div>
    </footer>
</body>
</html>