{% extends "main-menu-base.html" %}

{% block content %}
    <section id="content-section">

        {% if reviews|length == 0 %}
            <h1>This user don't have reviews yet</h1>
        {% else %}
            <h1 style="text-align: center"> Reviews: </h1>
            <div id="reviews">
                {% for review in reviews %}
                    <div class="review-container">

                    <img height="64" width="64" alt="Profile photo" src="{{ url_for('static', filename='img/' + review.profile_image) }}"/>
                        <a href="{{ review.login }}">{{ review.first_name + ' ' + review.last_name}}</a>
                        <div class="review-header">
                            <h2>Header: {{ review.header }}</h2>
                        </div>

                        <div class="review-data">
                            <p>Text: <br>{{ review.text }}</p>
                        </div>

                        <div class="review-mark">
                            <p>Mark: <br>{{ review.mark }}</p>
                        </div>
                    </div>
                {% endfor %}
        {% endif %}
        </div>
        {% if watched_user != current_user['username'] %}
        <form action="" method="post" novalidate>
            <input name="submit" type="submit" id="submit" />
        </form>
        {% endif %}
    </section>
{% endblock %}