#creation-task-box{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#creation-task-box section{
    margin: 20px;
    width: 50%;
}

#choose-executor-section, .service-container, #create-task-form-section{
    padding: 10px;
    background-color: #F6F8FA;
    border: 1px solid #D8DEE4;
    border-radius: 5px;
}

.service-container {
    margin-top: 10px;
}

#submit{
    height: 2em;
    width: 30%;
    background-color: #60c465;
    border: 1px solid #D8DEE4;
    margin: 10px 0 0 0;
}

input{
    height: 2em;
    width: 30%;
}

select{
    height: 3em;
    width: 30.35%;
}

textarea{
    height: 10em;
    width: 30%;
}

#creation-task-box h1{
    text-align: center;
}

@media screen and (max-width: 568px){
    #creation-task-box{
        display: flex;
        flex-direction: column;
    }
    #creation-task-box section{
        width: 80%;
        margin: 10px auto;
    }

    #choose-executor-section h2{
        font-size: 18px;
    }
    #creation-task-box div select, #creation-task-box div input, #creation-task-box div textarea{
        width: 100%;
        margin: 0 auto;
    }
    #creation-task-box input[type=submit]{
        margin-top: 10px;
    }
}